body{
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
}
header{
    border-bottom: 2px solid white;
    display: flex;
    justify-content: center;
}

#navMenu div{
  display: inline-block;
  margin-left: 30px;
  transition: color 0.4s ease, padding 0.4s ease; /* Smooth easing effect */
  cursor: pointer;
  border-radius: 20px;
}

#navMenu div:hover{
    background-color: #1946da;
    color: white;
    padding: 10px;
    
}



#navbar{
    display: grid;
    grid-template-columns: 200px 600px 180px;
    align-items: center;
    padding-bottom: 15px;
    font-family: Arial;
    font-size: 20px;
    
    
}

#home_option{
    margin-left: 0px;
}


#website_Name{
    display: flex;
    background-color: #1946da;
    color:white;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    width: max-content;
    align-items: center;
    transition: padding ease 0.5s;
    cursor:pointer;
}

#website_Name img{
    background-color: white;
    margin-left: 10px;
}

#website_Name:hover{
    outline: 2px solid white ;
    padding-left: 25px;
    padding-right: 25px;
}

#register_and_login_container {
    display: grid;
    grid-template-columns: auto auto;
    width: max-content;
    font-weight: bold;
    outline: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    justify-content: center;
}



#register_container{
    border-right: 2px solid white;
    background-color: #1977BB;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#login_container{
    background-color: #1946da;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#register_container, #login_container{
    padding: 5px;
    color: white;
    padding: 10px;
    transition: padding ease-in 0.4s,padding ease-out 0.4s;

}

#register_container:hover{
    padding-right: 30px;

}

#login_container:hover{
    padding-left: 30px;
}