#Support_Navbar{
    display: grid;
    grid-template-columns: 260px 260px;
    width: max-content;
    background-color: #1946da;
    color: white;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    align-items: center;
    box-shadow: 0px 0px 4px 3px grey;

    white-space: nowrap; /* Prevents content from wrapping */
}
#support_selected{
    background-color: white;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
}



#support_network_ID{
    width: 515px;

}

#support_network_ID h2{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;
}


button{
    cursor: pointer;
}

.support_net_details{
    display: grid;
    grid-template-columns: 180px auto;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
    padding: 5px;
}


.support_network_containers{
    margin: auto;
    width: 400px;
    box-shadow: 0px 0px 4px 3px grey;
    height: 420px;
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    background-color: white;
}


#add_supp_net_container,#pending_container,#rejected_container{
    display: none;
}



#add_supp_net_container input{
    width: 350px;
    height: 25px;
    border-radius: 8px;
    border-style: none;
    outline: 1px solid black;
}

#add_supp_net_container label{
    margin-bottom: 30px;
}




#userSearchID{
    margin-top: 20px;
}


#modify_support_network_container{
    margin: auto;
    width: max-content;

}



.search_result{
    display: grid;
    margin-top: 15px;
    border-bottom:1px solid black;
    grid-template-columns: auto auto;
    justify-items: center;
    align-items: center;
    padding-bottom: 5px;

}

.send_request_button{

    width: 130px;
    border-style: none;
    background-color: #1946da;
    color: white;
    height: 25px;
    padding: 5px;
    cursor: pointer;


}

#pending_container h2, #rejected_container h2{
    border-bottom: 1px solid black;
    padding-bottom: 20px;

}

#rejected_container button{
    margin-left:145px;
}


.support_net_details button{
    width: max-content;
    background-color: #1946da;
    border-style: none;
    color: white;
    padding: 5px;
}



#members_of_support_net_container{
    display: grid;
    grid-template-columns: 250px 250px;
    column-gap: 10px;
}

#prof_in_sup_network,#family_mem_in_sup_network{
    width: 250px;
}







/* Style the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;

}

/* Hide the dropdown content by default */
.dropdown_content {
    display: none;
    position: absolute;
    background-color: white;
    width: 190px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
    padding: 10px 0;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    box-shadow: 0px 0px 2px 1px black;

}

/* Style the links inside the dropdown */
.dropdown_content a {
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    font-size: 14px;
    border-bottom: 1px solid gray;
}

/* Change color on hover */
.dropdown_content a:hover {
    background-color: #1946da;
    color: white;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown_content {
    display: block;
}


#chat-with-dropdown{
    margin-left: 50px;
}


select{
    outline:2px solid #1946da;
    border-style: none;
    border-radius: 2px;
}

